.gallery {
  /* background-color: rgb(55, 198, 195); */
  background-color: rgb(214, 209, 209);
  width: 100%;
  min-height: 100vh;
  columns: 4;
  column-gap: 20px;
  padding: 40px;
}
.gallery .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  /* background-color: rgb(26, 193, 212); */
  background-color: white;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.8);
}
.gallery .gallery-img:hover{
  width: 102%;
  height: 102%;
  transform: rotate(5deg);
}
.img-popup-window {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  /* background: linear-gradient(to right, rgba(181, 83, 208, 0.8), rgba(37, 228, 66, 0.8)); */
  background: linear-gradient(to right, rgba(194, 191, 191, 0.9), rgba(191, 187, 187, 0.9));
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-popup-window.hidden{
  display: none;
  opacity: 0;
}
.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  /* width: 20px; */
  /* height: 20px; */
  /* background-color: red; */
  /* border-radius: 50%; */
  border: none;
  cursor: pointer;
  font-size: 2rem;
  background: transparent;
  color: rgba(208, 255, 0, 0.871);
}
.close-btn:hover{
  font-size: 1.8rem;
}
.download-btn {
  /* text-transform: capitalize; */
  /* padding: 10px 20px; */
  /* background: yellow; */
  color: rgb(113, 7, 126);
  /* text-decoration: none; */
  /* border-radius: 5px; */
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 2rem;
}
.download-btn:hover{
  font-size: 1.8rem;
}
.like-btn{
  color: rgb(59, 52, 60);
  position: absolute;
  right: 80px;
  top: 10px;
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.like-btn:hover{
  font-size: 1.8rem;
}
.get-like{
  color: rgb(205, 12, 44) ;
}
.large-img {
  height: 80%;
  width: auto;
  max-width: 80%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 7px 7px 10px rgb(26, 4, 27);
}
.large-img:hover{
  height: 100%;
  cursor: pointer;
}
.controls {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: black;
}
.controls:hover{
  font-size: 1.8rem;
}
.pre-btn {
  left: 20px;
}
.next-btn {
  right: 20px;
}
