@media (max-width:1130px){
  .left-content h1{
    font-size: 2.8rem;
  }
  .left-content h1 span{
    font-size: 3rem;
  }
  .left-content p{
    font-size: 1.4rem;
  }
  .left-content button{
    font-size: 1.4rem;
  }

  
}
 @media (max-width:1075px){
  .left-content h1{
    font-size: 2.5rem;
  }
  .left-content h1 span{
    font-size: 2.7rem;
  }
  .left-content p{
    font-size: 1.3rem;
  }
  .left-content button{
    font-size: 1.3rem;
  }

 }

 @media (max-width:1020px){
  .left-content h1{
    font-size: 2rem;
  }
  .left-content h1 span{
    font-size: 2.2rem;
  }
  .left-content p{
    font-size: 1.2rem;
  }
  .left-content button{
    font-size: 1.1rem;
    width: 150px;
  }

 }
 @media (max-width:950px){
  .main-div{
    flex-direction: column;
    overflow: auto;
  }
  .part-left {
    width: 100%;
  }
  .part-right {
    display: none;
  }
  .credential h1{
    font-size: 1.5rem;
  }
  .credential h3{
    font-size: 1rem;
  }
 }

 @media (max-width:700px){
  .credential h1{
    font-size: 1.2rem;
  }
  .credential h3{
    font-size: 0.7rem;
  }
  .credential i{
    font-size: 1rem;
  }
  .credential i:hover{
    font-size: 0.9rem;
  }
 }

 @media (max-width:550px){
  .credential h1{
    font-size: 1rem;
  }
  .credential h3{
    font-size: 0.5rem;
  }
  .credential i{
    font-size: 1rem;
  }
 }


 @media (max-width:490px){
  .content{
    width: 300px;
  }
  .left-content h1{
    font-size: 1.5rem;
    text-align: center;
  }
  .left-content h1 span{
    font-size: 1.7rem;
  }
  .left-content p{
    font-size: 1rem;
  }
  .left-content button{
    margin: 20px auto;
    font-size: 1rem;
    width: 150px;
  }
  .credential{
    text-align: center;
  }
 }
 