@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Henny+Penny&family=Island+Moments&family=Kolker+Brush&family=Merienda+One&family=Monoton&family=Poppins:wght@200;400;600&family=Rubik+Burned&family=Ubuntu&family=Xanh+Mono&display=swap');

/* font-family: 'Akaya Telivigala', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Island Moments', cursive;
font-family: 'Kolker Brush', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik Burned', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Xanh Mono', monospace; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Ubuntu', sans-serif;
}
.hide-item{
  display: none !important;
}

body {
  background-color: rgb(29, 4, 4);
}
.main-div {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(16, 2, 46, 0.6) 50%,
      rgba(1, 6, 42, 0.6) 50%
    ),
    url(about3.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.part-left {
  /* background: red; */
  width: 60%;
  height: 100%;
}

.left-content {
  width: 80%;
  height: 50%;
  background: rgba(116, 126, 144, 0.5);
  margin-left: 50%;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* align-items: centesr; */
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
}
.left-content *{
  margin: 20px 10px;
  color: white;
}
.left-content h1{
  position: relative;
  margin: 0;
  font-size: 3rem;
  opacity: 0.8;
}

.left-content h1 span{
  /* background-color: red; */
  color: rgb(58, 220, 220);
  margin-right: 0;
  font-size: 3.2rem;
  font-weight: bolder;
}
.left-content p{
  font-size: 1.5rem;
  text-align: justify;
  color: rgb(220, 200, 200);
}
.left-content button{
  width: 200px;
  font-size: 1.5rem;
  color: rgb(34, 35, 36);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.322);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(18, 17, 17, 0.4);
}
.left-content button:hover{
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  width: 195px;
}
.part-right {
  /* background-color: rgb(146, 94, 94); */
  /* max-width: 40%; */
  width: 40%;
  /* height: 100%; */
  min-height: 50%;
  columns: 2;
  column-gap: 20px;
  padding: 20px;

  
  /* display: flex;
  flex-wrap: wrap; */
}
/* .part-right div{
  margin: 5px;
  max-width: 100%;
  height: 100%;
  max-height: 48%;
} */
.part-right .right-img{
  width: 100%;
  /* max-height: 48%; */
  height: 100%;
  object-fit: cover;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(30, 164, 218);
  box-shadow: 7px 7px 10px black;
  transition: all 0.5s ease-in-out;
}
.part-right .right-img:hover{
  width: 103%;
}
.part-right .img1:hover{
  transform: rotate(-20deg);
}
.part-right .img2:hover{
  transform: rotate(20deg);
}
.part-right .img3:hover{
  transform: rotate(-20deg);
}
.part-right .img4:hover{
  transform: rotate(20deg);
}

/* ----------------login page--------------- */
*::placeholder{
  color: rgba(255, 255, 255, 0.617);
}
.cls-btn{
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgba(56, 51, 51, 0.701);
}
.cls-btn:hover{
  font-size: 1.8rem;
  color: #02112f;

}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(0,255,255,0.6);
  box-shadow: 0 0 50px rgb(16, 2, 82);
  border-radius: 1rem;
}
.content h1{
  color: #02112f;
  font-size: 2.5rem;
  font-weight:bold;
  margin: 0 0 35px 0;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.795);
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}
.field span{
  color: #8cd00d;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(255, 249, 249);
  font-size: 20px;
}
.space{
  margin-top: 16px;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: rgb(33, 2, 134);
  text-decoration: none;
}
.pass:hover a{
  color: yellow;
  text-decoration: underline;
}
.login{
  background: #0a1924;
  box-shadow: 0 0  15px #8cd00d;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}
.login input{
  cursor: pointer;
}
.login:hover{
  background: #053d62;
}
.login-with{
  color: rgb(33, 2, 134);
  margin: 20px 0;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.instagram{
  margin-left: 10px;
  background: #E1306C;
  border: 1px solid #df2060;
}
.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
  color: #aaef2a;
}
i span{
  margin-left: 8px;
  font-weight: bold;
  font-size: 16px;
}
.signup{
  font-size: 15px;
  color: rgb(128, 0, 0);
}
.signup a{
  color: #044a0b;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
  color: yellow;
}




/* -------------------------------credential page-------------------------- */

.credential{
  width: 50vw;
  height: 30vh;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  color: white;
  /* background: rgba(0,255,255,0.6); */
  background: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgb(0, 0, 0);
  letter-spacing: 1px;
}
.credential h1, .credential h3{
  margin-bottom: 15px;
}
.credential i{
  /* position: absolute;
  top: 10px;
  right: 20px; */
  cursor: pointer;
  font-size: 2rem;
  color: rgba(75, 207, 42, 0.701);
}
.credential i:hover{
  font-size: 1.8rem;
  color: #478a33;
}


