@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Henny+Penny&family=Island+Moments&family=Kolker+Brush&family=Merienda+One&family=Monoton&family=Poppins:wght@200;400;600&family=Rubik+Burned&family=Ubuntu&family=Xanh+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Ubuntu', sans-serif;
}
html{
  font-size: 10px;
}

body{
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
}

.main-div{
  padding-top: 60px;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  /* background-color: cyan; */
  background: linear-gradient(to right,rgba(0, 0, 0, 0.2), rgba(0,0,0,0.2)), url(joinTeam.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  flex-wrap: wrap;
  /* columns: 4;
  column-gap: 20px; */
  /* padding: 40px; */
}
.joinTeam{
  min-width: 20%;
  min-height: 70%;
  background-color: rgba(0, 0, 0, 0.461);
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 50px;
  border: 1px solid rgba(168, 34, 195, 0.827);
  box-shadow: 0 0 5px 5px black;
  margin: 20px ;
}
.joinTeam *{
  margin: 10px;
}
.joinTeam .hrLine{
  width: 80%;
  height: 2px;
  background-color: white;
}

.joinTeam h2{
  font-size: 3rem;
  color: rgb(133, 133, 246);
}
.joinTeam h1{
  font-size: 3rem;
  color: rgb(232, 212, 185);
}
.joinTeam h3{
  font-size: 2rem;
  color: rgb(115, 222, 225);
}
.joinTeam .btn{
  font-size: 1.5rem;
  background-color: rgb(15, 91, 91);
  padding: 10px 30px;
  cursor: pointer;
  box-shadow: 4px 4px 5px black;
}
.joinTeam .btn:hover{
  font-size: 1.4rem;
  background-color: rgb(10, 58, 58);
}

@media (max-width:900px) {
  
}