@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Henny+Penny&family=Island+Moments&family=Kolker+Brush&family=Merienda+One&family=Monoton&family=Poppins:wght@200;400;600&family=Rubik+Burned&family=Ubuntu&family=Xanh+Mono&display=swap');


/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
} */
:root{
  --clr: #51044d;
}
/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
} */
.navigation{
  position: fixed;
  top: 40px;
  right: 20px;
  width: 400px;
  height: 70px;
  background: rgba(158, 187, 142, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 5px black;
}
.navigation ul{
  display: flex;
  width: 350px;
  justify-content: space-around;
}
.navigation ul li{
  position: relative;
  list-style: none;
  /* min-width: 22%; */
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.navigation ul li.active a .icon{
  transform: translateY(-37px);
}
.navigation ul li a .text{
  position: absolute;
  color: var(--clr);
  font-weight: 800;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text{
  opacity: 1;
  transform: translateY(10px);
}
.indicator{
  background: #2fdcae;
  position: absolute;
  top: -40%;
  left: 11%;
  height: 50px  ;
  width: 50px;
  border-radius: 50%;
  border: 6px solid transparent;
  transition: 0.5s;
}
/* .indicator::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 transparent;
}
.indicator::after{
  content: '';
  position: absolute;
  top: 50%; 
  right : -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
} */
.navigation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(80px*0));
} 
.navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(87px*1));
} 
.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(87px*2));
} 
.navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(87px*3));
} 