@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Henny+Penny&family=Island+Moments&family=Kolker+Brush&family=Merienda+One&family=Monoton&family=Poppins:wght@200;400;600&family=Rubik+Burned&family=Ubuntu&family=Xanh+Mono&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Ubuntu', sans-serif;
}

.hide-info{
  display: none;
}

body{
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  /* background: linear-gradient(320deg, red, yellow); */
}
.main-div{
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.3) 50%
    ),
    url(profile.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile{
  width: 90%;
  height: 80%;
  /* background-color: red; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(7, 9, 6);
  background: linear-gradient(320deg, rgba(209, 168, 102, 0.5), rgba(181, 38, 200, 0.5));
  display: flex;
  overflow: hidden;
}
.profile .left-part{
  width: 40%;
  height: 100%;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .left-part .profile-div{
  width: 80%;
  height: 95%;
  background-color: rgba(3, 0, 0, 0.4);
  padding: 25px 20px 0;
  
  border-radius: 10px;
}
.profile .left-part .profile-div .user-photo{
  background-color: rgba(214, 232, 232, 0.478);
  width: 100%;
  height: 20%;
  display: flex;
  border-radius: 5px;
  margin-bottom: 20px;
}
.profile .left-part .profile-div .user-photo .photo{
  width: 30%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: rgb(23, 12, 145);
}
.profile .left-part .profile-div .user-photo .user-edit{
  width: 70%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.profile .left-part .profile-div .user-photo .user-edit h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}
.profile .left-part .profile-div .user-photo .user-edit button{
  color: white;
  padding: 2px 4px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.profile .left-part .profile-div .user-photo .user-edit button:hover{
  font-size: 0.8rem;
}
.profile .left-part .profile-div .info{
  width: 100%;
  height: 70%;
  background-color: rgba(69, 171, 144,0.5);
  border-radius: 5px;
  padding: 10px;
}
.profile .left-part .profile-div .info h3{
  background-color: rgba(127, 185, 255, 0.2);
  width: 80%;
  margin: 10px 0;
  padding: 5px 10px;
  color: rgba(238, 238, 238, 0.9);
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile .left-part .profile-div .info input{
  background-color: rgba(127, 185, 255, 0.2);
  width: 80%;
  margin: 10px 0;
  padding: 5px 10px;
  color: rgba(238, 238, 238, 0.9);
  border: none;
  outline: none;
  font-size: 1.17rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.profile .left-part .profile-div .info input::placeholder{
  color: rgb(104, 88, 88);
}
.profile .left-part .profile-div .info .info-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile .left-part .profile-div .info .info-div i{
  width: 20%;
  text-align: center;
  font-size: 1.2rem;
  color: rgba(68, 255, 0,0.8);
}
.profile .right-part{
  width: 60%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .right-part .img-carasol{
  width: 90%;
  height: 90%;
  /* background-color: aqua; */
 
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
.profile .right-part .img-carasol .large-img{
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(26, 4, 27);
}

.massage{
  position: fixed;
  top: 45%;
  right: 20%;
}
.massage button{
  color: black;
  font-size: 5rem;
  font-family: 'Island Moments', cursive;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background: rgba(123, 209, 52, 0.5);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  z-index: 10;
}
.massage button:hover{
  font-size: 4.5rem;
}
.stop{
  position: fixed;
  bottom: 14%;
  right: 7.6%;
}
.stop button{
  color: black;
  font-size: 2rem;
  font-family: 'Island Moments', cursive;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background: rgba(123, 209, 52, 0.5);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  z-index: 100;
}
.stop button:hover{
  font-size: 1.8rem;
}