*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
*::placeholder{
  opacity: 0.4;
  color: black;
}
body{
  background: url('signup-bg.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-div{
  /* position: absolute;
  top: 50%;
  left: 50%; */
  z-index: 10;
  text-align: center;
  padding: 10px 10px;
  /* margin-top: 10px; */
  width: 400px;
  min-height: 500px;
  /* transform: translate(-50%,-50%); */
  /* background: rgba(255, 255, 255, 0.3); */
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 10px rgb(24, 20, 24);
  border-radius: 1rem;
  display: flex ;
  flex-direction: column;
  align-items: center;
}

table{
  /* position: relative; */
  text-align: left;
  font-size: 1.2rem;
  /* background: rgba(16, 2, 82,0.5); */
  width: 90%;
}
/* table td{
  width: 220px;
} */
table span{
  /* background-color: red; */
  color: black !important;
}
/* .fav-anime span{
  background-color: rgb(117, 59, 4);
} */
tr td:nth-child(1) {
  color: rgb(13, 13, 62) ;
  font-weight: 600;
  width: 100%;
}
.error{
  color: red !important;
}
tr td:nth-child(2) {
  /* background: red; */
  width: 100%;
  /* display: flex;
  justify-content: center; */
  color: red ;
}
/* tr td:nth-child(3).hidden{
  display: none;
} */

.input-div{
  border: none;
  outline: none;
  margin-bottom: 10px ;
  background: rgba(255, 255, 255, 0.5);
  /* background: rgba(197, 194, 194, 0.3); */
  width: 90%;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.input-div input{
  margin-left: 20px;
  width: 75%;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background: transparent;
  outline: none;
  /* color: rgb(23, 97, 171); */
  color: black;
}
.error{
  /* background-color: red; */
  /* box-shadow: 0 1px 2px rgb(1, 189, 5); */
  color: white;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  padding-left: 10px;
}
.div-gender{
  padding-left: 23px;
  display: flex;
  color: rgb(13, 13, 62);
  font-size: 1.1rem;
}
.div-gender  div{
  margin-right: 50px;
}
/* .div-gender div label{
  background-color: red;
  /* margin-right: 0; */

/* .div-gender :nth-child(1){
  margin-right: 20px;
} */
.fav-anime p{
  display: flex;
  color: rgb(106, 246, 171);
  margin-bottom: 2px;
  font-size: 1rem;
}
.fav-anime p input{
  width: 1rem;
  margin-right: 10px;
}
.term-cond{
  background-color: rgba(87, 10, 63, 0.5);
  margin: 10px 0;
  padding: 5px 0;
  font-size: 0.8rem;
  color: white;
}
.term-cond a{
  color: yellow;
}
.submit-btn #CreateAccBtn{
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 157, 255);
  font-size: 1.3rem;
  font-weight: bold ;
  border-radius: 10px;
  border: none;
  box-shadow:0 3px 5px rgba(0, 0, 0, 0.807);
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.submit-btn #CreateAccBtn:hover{
  background-color: rgb(89, 101, 211);
  color: black;
}


/* -------------------------------welcome page-------------------------- */
.hide-item{
  display: none !important;
}
.welcome{
  width: 50vw;
  height: 30vh;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  color: rgba(250, 235, 215, 0.811);
  /* background-color: rgba(255, 255, 255, 0.7); */
  background: rgba(0, 0, 0, 0.6);
  /* background: linear-gradient(320deg, rgba(215, 119, 119, 0.8), rgba(18, 164, 193, 0.8)); */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgb(0, 0, 0);
}
.welcome h1, .welcome h3{
  margin-bottom: 15px;
}
.welcome i{
  /* position: absolute;
  top: 10px;
  right: 20px; */
  cursor: pointer;
  font-size: 2rem;
  color: rgba(63, 202, 227, 0.701);
}
.welcome i:hover{
  font-size: 1.8rem;
  color: #31d6c5;
}



/* -------------------------------duplicate email page-------------------------- */

.duplicate{
  width: 50vw;
  height: 30vh;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  color: rgba(250, 235, 215, 0.811);
  /* background-color: rgba(255, 255, 255, 0.7); */
  background: rgba(0, 0, 0, 0.6);
  /* background: linear-gradient(320deg, rgba(215, 119, 119, 0.8), rgba(18, 164, 193, 0.8)); */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgb(0, 0, 0);
  text-align: center;
}
.duplicate h1, .duplicate h3{
  margin-bottom: 15px;
}
.duplicate i{
  /* position: absolute;
  top: 10px;
  right: 20px; */
  cursor: pointer;
  font-size: 2rem;
  color: rgba(63, 202, 227, 0.701);
}
.duplicate i:hover{
  font-size: 1.8rem;
  color: #31d6c5;
}


