@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Henny+Penny&family=Island+Moments&family=Kolker+Brush&family=Merienda+One&family=Monoton&family=Poppins:wght@200;400;600&family=Rubik+Burned&family=Ubuntu&family=Xanh+Mono&display=swap');

/* font-family: 'Akaya Telivigala', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Island Moments', cursive;
font-family: 'Kolker Brush', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik Burned', cursive; 
font-family: 'Xanh Mono', monospace;*/

/* --------header-------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  /* background: linear-gradient(320deg, red, yellow); */
  /* background-image: url("bg.jpg");
  background-position: center;
  background-size: cover; */
}
.myname {
  position: fixed;
  top: 5px;
  left: 10rem;
  font-size: 1.1rem;
  letter-spacing: 2px;
  z-index: 10;
  /* font-family: 'Henny Penny', cursive; */
  font-family: "Rubik Burned", cursive;
  color: rgb(255, 225, 0);
}

.main-div {
  position: absolute;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.1) 50%
    ),
    url(mainBack.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
header {
  width: 100%;
  height: 125px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  /* margin: 0 aut  o; */
  /* background: rgb(231, 217, 231); */
}
header .search {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
header .search img {
  width: 90px;
  height: 100px;
  margin: 5px 0 0 20px;
  cursor: pointer;
  transition: all 0.7s ease;
}
header .search img:hover {
  height: 120px;
  width: 110px;
}
header .search .logo {
  display: flex;
  align-items: center;
  min-width: 350px;
  /* margin-right: 20px; */
  /* margin-top: 2rem; */
  /* background-color: aqua; */
}
header .search .logo span {
  width: 100px;
  font-size: 5.5rem;
  font-weight: bolder;
  /* font-family: 'Merienda One', cursive; */
  /* font-family: 'Henny Penny', cursive; */
  font-family: "Island Moments", cursive;
  /* margin-left:0.5rem; */
  cursor: pointer;
  /* color: rgba(32, 208, 85, 0.8); */
  color: rgb(94, 230, 87);
  /* text-shadow: 3px 3px 5px rgb(236, 10, 48); */
  text-shadow: 2px 2px 4px black;
  /* background-color: red; */
}

header .side-menu {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 125px;
}
header .side-menu .input-search {
  width: 100%;
  height: 100%;
  max-height: 62px;
  /* background: cyan; */
  /* border-radius: 20px; */
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .side-menu .input-search .search-div {
  width: 40%;
  height: 100%;
  /* padding-top: 5px; */
  /* background-color: red; */
  display: flex;
  align-items: center;
}
header .side-menu .input-search input {
  height: 60%;
  width: 80%;
  /* border: none; */
  border-radius: 20px;
  border: 1px solid rgb(106, 104, 104);
  outline: none;
  padding: 0 30px;
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
}
header .side-menu .input-search #search-btn {
  /* color: rgb(168, 192, 10); */
  color: white;
  /* background-color: rgba(107, 3, 98, 0.5); */
  background-color: rgba(41, 54, 54,0.5);
  border: none;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Akaya Telivigala", cursive;
}
header .side-menu .input-search #search-btn:hover {
  font-size: 1.4rem;
  /* background-color: rgba(170, 19, 157, 0.5); */
  background-color: rgba(35, 44, 44, 0.5);
  color: rgb(142, 233, 77);
}
header .side-menu .input-search #clock {
  margin-right: 20px;
  color: white;
}
header .side-menu .input-search .menu-list {
  /* color: red; */
  font-size: 1rem;
  letter-spacing: 1px;
  /* background: rgba(83, 162, 184, 0.1); */
  color: rgb(168, 192, 10) !important;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  /* font-family: "Henny Penny", cursive; */
  font-family: "Poppins", sans-serif;

  cursor: pointer;
}
header .side-menu .input-search a{
  /* color: rgb(168, 192, 10) ; */
  color: white;
  text-decoration: none;
}
header .side-menu .input-search .menu-list:hover {
  /* font-size: 1.1rem; */
  background: rgba(224, 238, 242, 0.3);
}
header .side-menu .input-search .menu-list:hover a{
  /* color: red; */
  color: black;
}
header .side-menu  form button{
  border: none;
  outline: none;
}
header .side-menu .menu {
  /* margin-top: 2px; */
  width: 100%;
  height: 90%;
  max-height: 62px;
  /* background: blue; */
  display: flex;
  border-top: 1px solid rgba(212, 255, 0, 0.3);
  justify-content: space-between;
  align-items: center;
}
header .side-menu .menu .search-tag {
  /* background: rgba(9, 64, 93, 0.1); */
  background: none;
  /* color: rgb(209, 205, 205); */
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
header .side-menu .menu .search-tag:hover {
  background: rgba(9, 64, 93, 0.6);
  color: rgb(220, 119, 119);
  /* font-size: 1.1rem; */
}
header .side-menu .menu #marvel {
  margin-right: 30px;
}
.main-div .dialouge {
  /* background-color: aqua; */
  background: rgba(0, 0, 0, 0.4);
  text-align: justify;
  width: 50%;
  /* margin: 165px 40px 40px; */
  /* margin: 135px 20px; */
  box-shadow: 3px 3px 5px rgb(142, 60, 60);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.main-div .dialouge div {
  /* background: red; */
  margin-bottom: 1rem;
  color: rgba(62, 162, 44, 0.8);
  text-shadow: 3px 3px 5px red;
  padding: 10px;
  font-size: 1.5rem;
  font-family: "Xanh Mono", monospace;
}
.hidden-div {
  height: 100vh;
  background: transparent;
}

.term-cond {
  padding: 0 50px;
  background-color: black;
  height: 150px;
  color: rgba(255, 255, 255, 0.775);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}
.term-cond ul li a:hover, #join-team:hover{
  /* font-size: 1.3rem; */
  color: yellow;
  cursor: pointer;
}
.term-cond > *{
  width: 30%;
  /* background-color: red; */
}
.term-cond .div1 ul{
  display: flex;
  list-style-type: none;
  /* background-color: aqua; */
  color: rgb(93, 25, 156);
}
.term-cond .div1 ul :nth-child(1){
  margin-right: 15px;
}
.term-cond .div2{
  text-align: center;
}
.term-cond .div2 a{
  color:rgb(93, 25, 156);
}
.term-cond .div2 > *{
  margin: 10px;
}
.term-cond .div2 img{
  width: 100px;
  margin-top: -70px;
}
.term-cond .div3 ul{
  display: flex;
  justify-content: end;
  list-style-type: none;
}
.term-cond .div3 ul > *{
  margin-right: 30px;
}
.term-cond a{
  text-decoration: none;
}

/* -------------------small drop menu----------------- */
.smallMenu{
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 1000;
}
.bigMenu{
  background-color: red;
  display: flex;
  justify-content: space-between;
  /* width: 60%; */
}


.smallDiv{
  position: fixed;
  top: 60px;
  right: 65px;
  height: 190px;
  width: 150px;
  background-color: rgba(37, 186, 104, 0.5);
  padding: 10px;
  text-align: center;
  z-index: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius:20px ;
  /* display: none; */
  opacity: 0;
} 
.smallDiv ul{
  list-style-type: none;
  font-size: 1.5rem;
  
}
.smallDiv ul li{
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none !important;
}
.smallDiv ul li:hover{
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
}
.smallDropMenu{
  width: 40px;
  height: 40px;
  background-color: rgba(37, 186, 104, 0.5);
  color: rgb(19, 3, 31);
  position: fixed;
  top: 60px;
  right: 20px;
  border-radius: 5px;
  z-index: 500;
  font-size: 2rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
}
.smallDropMenu:hover{
  color: white;
}